
#u418.e {
  left:308px;
  top:6451px;
}
#u418_text.e {
}
#u418 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u419.e {
  left:299px;
  top:6098px;
}
#u419_img.e {
}
#u419.e {
  left:299px;
  top:6098px;
}
#u419_text.e {
}
#u419 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u420.e {
  left:20px;
  top:5919px;
}
#u420_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 184, 89, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u420.e {
  left:20px;
  top:5919px;
}
#u420_text.e {
}
#u420 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u421.e {
  left:20px;
  top:5967px;
}
#u421_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 184, 89, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u421.e {
  left:20px;
  top:5967px;
}
#u421_text.e {
}
#u421 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u422.e {
  left:20px;
  top:5991px;
}
#u422_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 184, 89, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u422.e {
  left:20px;
  top:5991px;
}
#u422_text.e {
}
#u422 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u423.e {
  left:20px;
  top:6039px;
}
#u423_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 184, 89, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u423.e {
  left:20px;
  top:6039px;
}
#u423_text.e {
}
#u423 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u424.e {
  left:20px;
  top:6503px;
}
#u424_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424.e {
  left:20px;
  top:6503px;
}
#u424_text.e {
}
#u424 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u425.e {
  left:20px;
  top:6920px;
  width:330px;
  height:184px;
}
#u425_img.e {
  width:330px;
  height:184px;
}
#u425.e {
  left:20px;
  top:6920px;
  width:330px;
  height:184px;
}
#u425_text.e {
}
#u425 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u426.e {
  left:20px;
  top:6793px;
  width:330px;
  height:92px;
}
#u426_img.e {
  width:330px;
  height:92px;
}
#u426.e {
  left:20px;
  top:6793px;
  width:330px;
  height:92px;
}
#u426_text.e {
}
#u426 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u427.e {
  left:299px;
  top:6893px;
}
#u427_img.e {
}
#u427.e {
  left:299px;
  top:6893px;
}
#u427_text.e {
}
#u427 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u428.e {
  left:308px;
  top:7112px;
}
#u428_img.e {
}
#u428.e {
  left:308px;
  top:7112px;
}
#u428_text.e {
}
#u428 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u429.e {
  left:34px;
  top:6539px;
  width:316px;
}
#u429_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429.e {
  left:34px;
  top:6539px;
  width:316px;
}
#u429_text.e {
}
#u429 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u430.e {
  left:20px;
  top:6544px;
}
#u430_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:14px;
  background:inherit;
  background-color:rgba(228, 106, 106, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u430.e {
  left:20px;
  top:6544px;
}
#u430_text.e {
}
#u430 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u431.e {
  left:20px;
  top:6640px;
}
#u431_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 184, 89, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  line-height:9px;
}
#u431.e {
  left:20px;
  top:6640px;
}
#u431_text.e {
}
#u431 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u432.e {
  left:20px;
  top:7165px;
}
#u432_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432.e {
  left:20px;
  top:7165px;
}
#u432_text.e {
}
#u432 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u433.e {
  left:20px;
  top:7553px;
  width:330px;
  height:184px;
}
#u433_img.e {
  width:330px;
  height:184px;
}
#u433.e {
  left:20px;
  top:7553px;
  width:330px;
  height:184px;
}
#u433_text.e {
}
#u433 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u434.e {
  left:168px;
  top:7531px;
  width:34px;
  height:40px;
}
#u434_img.e {
  width:34px;
  height:40px;
}
#u434.e {
  left:168px;
  top:7531px;
  width:34px;
  height:40px;
}
#u434_text.e {
}
#u434 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u436.e {
  left:243px;
  top:7477px;
  width:107px;
  height:60px;
}
#u436_img.e {
  width:107px;
  height:60px;
}
#u436.e {
  left:243px;
  top:7477px;
  width:107px;
  height:60px;
}
#u436_text.e {
}
#u436 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u437.e {
  left:132px;
  top:7477px;
  width:107px;
  height:60px;
}
#u437_img.e {
  width:107px;
  height:60px;
}
#u437.e {
  left:132px;
  top:7477px;
  width:107px;
  height:60px;
}
#u437_text.e {
}
#u437 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u438.e {
  left:20px;
  top:7477px;
  width:107px;
  height:60px;
}
#u438_img.e {
  width:107px;
  height:60px;
}
#u438.e {
  left:20px;
  top:7477px;
  width:107px;
  height:60px;
}
#u438_text.e {
}
#u438 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u439.e {
  left:-6px;
  top:7201px;
  width:356px;
  height:264px;
}
#u439_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439.e {
  left:-6px;
  top:7201px;
  width:356px;
  height:264px;
}
#u439_text.e {
}
#u439 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u440.e {
  left:0px;
  top:5091px;
  width:370px;
  height:337px;
}
#u440_img.e {
  width:370px;
  height:337px;
}
#u440.e {
  left:0px;
  top:5091px;
  width:370px;
  height:337px;
}
#u440_text.e {
}
#u440 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u441.e {
  left:20px;
  top:5119px;
  width:317px;
}
#u441_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441.e {
  left:20px;
  top:5119px;
  width:317px;
}
#u441_text.e {
}
#u441 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u442.e {
  left:20px;
  top:5155px;
  width:330px;
  height:72px;
}
#u442_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u442.e {
  left:20px;
  top:5155px;
  width:330px;
  height:72px;
}
#u442_text.e {
}
#u442 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u443.e {
  left:0px;
  top:5461px;
  width:370px;
  height:356px;
}
#u443_img.e {
  width:370px;
  height:356px;
}
#u443.e {
  left:0px;
  top:5461px;
  width:370px;
  height:356px;
}
#u443_text.e {
}
#u443 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u444.e {
  position:absolute;
  left:20px;
  top:5633px;
}
#u445.e {
  width:330px;
  height:184px;
}
#u445_img.e {
  width:330px;
  height:184px;
}
#u445.e {
  width:330px;
  height:184px;
}
#u445_text.e {
}
#u445 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u444_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:330px;
  height:184px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446.e {
  position:absolute;
  left:20px;
  top:5243px;
}
#u447.e {
  width:330px;
  height:185px;
}
#u447_img.e {
  width:330px;
  height:185px;
}
#u447.e {
  width:330px;
  height:185px;
}
#u447_text.e {
}
#u447 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u446_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:330px;
  height:185px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u448.e {
  left:20px;
  top:5489px;
  width:329px;
}
#u448_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B082;
}
#u448.e {
  left:20px;
  top:5489px;
  width:329px;
}
#u448_text.e {
}
#u448 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u449.e {
  left:20px;
  top:5525px;
  width:330px;
  height:96px;
}
#u449_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449.e {
  left:20px;
  top:5525px;
  width:330px;
  height:96px;
}
#u449_text.e {
}
#u449 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u450.e {
  left:308px;
  top:5494px;
}
#u450_img.e {
}
#u450.e {
  left:308px;
  top:5494px;
}
#u450_text.e {
}
#u450 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u451.e {
  left:299px;
  top:5124px;
}
#u451_img.e {
}
#u451.e {
  left:299px;
  top:5124px;
}
#u451_text.e {
}
#u451 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u452.e {
  left:108px;
  top:3597px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u452_img.e {
  width:58px;
  height:52px;
}
#u452.e {
  left:108px;
  top:3597px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u452_text.e {
}
#u452 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u453.e {
  left:108px;
  top:2764px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u453_img.e {
  width:58px;
  height:52px;
}
#u453.e {
  left:108px;
  top:2764px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u453_text.e {
}
#u453 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u454.e {
  left:108px;
  top:1984px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u454_img.e {
  width:58px;
  height:52px;
}
#u454.e {
  left:108px;
  top:1984px;
  width:58px;
  height:52px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u454_text.e {
}
#u454 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u455.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:1953px;
}
#u456.e {
  left:-537px;
}
#u456_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:567px;
  background:-webkit-linear-gradient(270deg, rgba(62, 78, 96, 1) 0%, rgba(97, 128, 165, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(62, 78, 96, 1) 0%, rgba(97, 128, 165, 1) 100%);
  background:linear-gradient(180deg, rgba(62, 78, 96, 1) 0%, rgba(97, 128, 165, 1) 100%);
  border:none;
  border-radius:36px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u456.e {
  left:-537px;
}
#u456_text.e {
}
#u456 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u457.e {
  left:-537px;
  height:1335px;
}
#u457_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1335px;
  background:inherit;
  background-color:rgba(63, 80, 98, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457.e {
  left:-537px;
  height:1335px;
}
#u457_text.e {
}
#u457 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u459.e {
  left:-648px;
}
#u459_img.e {
}
#u459.e {
  left:-648px;
}
#u459_text.e {
}
#u459 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u460.e {
  left:-439px;
}
#u460_img.e {
}
#u460.e {
  left:-439px;
}
#u460_text.e {
}
#u460 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u461.e {
  left:-229px;
}
#u461_img.e {
}
#u461.e {
  left:-229px;
}
#u461_text.e {
}
#u461 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u462.e {
  left:-20px;
}
#u462_img.e {
}
#u462.e {
  left:-20px;
}
#u462_text.e {
}
#u462 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u463.e {
  left:190px;
}
#u463_img.e {
}
#u463.e {
  left:190px;
}
#u463_text.e {
}
#u463 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u464.e {
  left:399px;
}
#u464_img.e {
}
#u464.e {
  left:399px;
}
#u464_text.e {
}
#u464 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u465.e {
  left:609px;
}
#u465_img.e {
}
#u465.e {
  left:609px;
}
#u465_text.e {
}
#u465 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u466.e {
  left:818px;
}
#u466_img.e {
}
#u466.e {
  left:818px;
}
#u466_text.e {
}
#u466 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u467.e {
  left:-131px;
}
#u467_img.e {
}
#u467.e {
  left:-131px;
}
#u467_text.e {
}
#u467 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u468.e {
  left:728px;
  top:143px;
}
#u468_img.e {
}
#u468.e {
  left:728px;
  top:143px;
}
#u468_text.e {
}
#u468 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u469.e {
  left:180px;
  top:111px;
  width:176px;
  height:131px;
}
#u469_img.e {
  width:176px;
  height:131px;
}
#u469.e {
  left:180px;
  top:111px;
  width:176px;
  height:131px;
}
#u469_text.e {
}
#u469 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u470.e {
  left:12px;
  top:109px;
  width:176px;
  height:133px;
}
#u470_img.e {
  width:176px;
  height:133px;
}
#u470.e {
  left:12px;
  top:109px;
  width:176px;
  height:133px;
}
#u470_text.e {
}
#u470 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u471.e {
  left:-97px;
  top:762px;
  width:300px;
  height:294px;
}
#u471_img.e {
  width:300px;
  height:294px;
}
#u471.e {
  left:-97px;
  top:762px;
  width:300px;
  height:294px;
}
#u471_text.e {
}
#u471 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u472.e {
  left:256px;
  top:754px;
  width:327px;
  height:321px;
}
#u472_img.e {
  width:327px;
  height:321px;
}
#u472.e {
  left:256px;
  top:754px;
  width:327px;
  height:321px;
}
#u472_text.e {
}
#u472 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u473.e {
  left:55px;
  top:1048px;
  width:271px;
  height:255px;
}
#u473_img.e {
  width:271px;
  height:255px;
}
#u473.e {
  left:55px;
  top:1048px;
  width:271px;
  height:255px;
}
#u473_text.e {
}
#u473 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u474.e {
  left:6px;
  top:937px;
  width:351px;
  height:210px;
}
#u474_img.e {
  width:351px;
  height:210px;
}
#u474.e {
  left:6px;
  top:937px;
  width:351px;
  height:210px;
}
#u474_text.e {
}
#u474 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u475.e {
  left:-1px;
  top:1644px;
  width:369px;
  height:119px;
}
#u475_img.e {
  width:369px;
  height:119px;
}
#u475.e {
  left:-1px;
  top:1644px;
  width:369px;
  height:119px;
}
#u475_text.e {
}
#u475 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u476.e {
  left:-12px;
  top:1327px;
}
#u476_img.e {
}
#u476.e {
  left:-12px;
  top:1327px;
}
#u476_text.e {
}
#u476 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u477.e {
  left:104px;
  top:1327px;
}
#u477_img.e {
}
#u477.e {
  left:104px;
  top:1327px;
}
#u477_text.e {
}
#u477 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u478.e {
  left:220px;
  top:1327px;
}
#u478_img.e {
}
#u478.e {
  left:220px;
  top:1327px;
}
#u478_text.e {
}
#u478 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u479.e {
  left:160px;
  top:1581px;
}
#u479_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u479.e {
  left:160px;
  top:1581px;
}
#u479_text.e {
}
#u479 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u480.e {
  left:152px;
  top:1259px;
}
#u480_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u480.e {
  left:152px;
  top:1259px;
}
#u480_text.e {
}
#u480 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u481.e {
  left:151px;
  top:869px;
}
#u481_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u481.e {
  left:151px;
  top:869px;
}
#u481_text.e {
}
#u481 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u482.e {
  left:2px;
  top:251px;
  width:356px;
  height:460px;
}
#u482_img.e {
  width:356px;
  height:460px;
}
#u482.e {
  left:2px;
  top:251px;
  width:356px;
  height:460px;
}
#u482_text.e {
}
#u482 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u455_state0.e {
  width:370px;
  height:1953px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483.e {
  left:-2px;
  top:1971px;
}
#u483_img.e {
}
#u483.e {
  left:-2px;
  top:1971px;
}
#u483_text.e {
}
#u483 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u484.e {
  left:20px;
  top:1997px;
}
#u484_img.e {
}
#u484.e {
  left:20px;
  top:1997px;
}
#u484_text.e {
}
#u484 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u485.e {
  left:-2px;
  top:2094px;
  width:369px;
  height:183px;
}
#u485_img.e {
  width:369px;
  height:183px;
}
#u485.e {
  left:-2px;
  top:2094px;
  width:369px;
  height:183px;
}
#u485_text.e {
}
#u485 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u486.e {
  left:145px;
  top:2306px;
}
#u486_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u486.e {
  left:145px;
  top:2306px;
}
#u486_text.e {
}
#u486 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u487.e {
  left:141px;
  top:2633px;
}
#u487_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u487.e {
  left:141px;
  top:2633px;
}
#u487_text.e {
}
#u487 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u488.e {
  left:1px;
  top:2396px;
  width:366px;
  height:206px;
}
#u488_img.e {
  width:366px;
  height:206px;
}
#u488.e {
  left:1px;
  top:2396px;
  width:366px;
  height:206px;
}
#u488_text.e {
}
#u488 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u489.e {
  left:-2px;
  top:2751px;
}
#u489_img.e {
}
#u489.e {
  left:-2px;
  top:2751px;
}
#u489_text.e {
}
#u489 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u490.e {
  left:20px;
  top:2777px;
}
#u490_img.e {
}
#u490.e {
  left:20px;
  top:2777px;
}
#u490_text.e {
}
#u490 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u491.e {
  left:17px;
  top:3314px;
  width:154px;
  height:150px;
}
#u491_img.e {
  width:154px;
  height:150px;
}
#u491.e {
  left:17px;
  top:3314px;
  width:154px;
  height:150px;
}
#u491_text.e {
}
#u491 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u492.e {
  left:199px;
  top:3314px;
  width:155px;
  height:150px;
}
#u492_img.e {
  width:155px;
  height:150px;
}
#u492.e {
  left:199px;
  top:3314px;
  width:155px;
  height:150px;
}
#u492_text.e {
}
#u492 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u493.e {
  left:17px;
  top:2858px;
  width:155px;
  height:150px;
}
#u493_img.e {
  width:155px;
  height:150px;
}
#u493.e {
  left:17px;
  top:2858px;
  width:155px;
  height:150px;
}
#u493_text.e {
}
#u493 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u494.e {
  left:200px;
  top:2858px;
  width:154px;
  height:150px;
}
#u494_img.e {
  width:154px;
  height:150px;
}
#u494.e {
  left:200px;
  top:2858px;
  width:154px;
  height:150px;
}
#u494_text.e {
}
#u494 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u495.e {
  left:17px;
  top:3086px;
  width:155px;
  height:150px;
}
#u495_img.e {
  width:155px;
  height:150px;
}
#u495.e {
  left:17px;
  top:3086px;
  width:155px;
  height:150px;
}
#u495_text.e {
}
#u495 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u496.e {
  left:199px;
  top:3086px;
  width:155px;
  height:150px;
}
#u496_img.e {
  width:155px;
  height:150px;
}
#u496.e {
  left:199px;
  top:3086px;
  width:155px;
  height:150px;
}
#u496_text.e {
}
#u496 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u497.e {
  left:81px;
  top:3028px;
}
#u497_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u497.e {
  left:81px;
  top:3028px;
}
#u497_text.e {
}
#u497 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u498.e {
  left:263px;
  top:3028px;
}
#u498_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u498.e {
  left:263px;
  top:3028px;
}
#u498_text.e {
}
#u498 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u499.e {
  left:81px;
  top:3256px;
}
#u499_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u499.e {
  left:81px;
  top:3256px;
}
#u499_text.e {
}
#u499 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u500.e {
  left:263px;
  top:3256px;
}
#u500_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u500.e {
  left:263px;
  top:3256px;
}
#u500_text.e {
}
#u500 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u501.e {
  left:81px;
  top:3484px;
}
#u501_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u501.e {
  left:81px;
  top:3484px;
}
#u501_text.e {
}
#u501 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u502.e {
  left:263px;
  top:3484px;
}
#u502_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u502.e {
  left:263px;
  top:3484px;
}
#u502_text.e {
}
#u502 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u503.e {
  left:-1px;
  top:3584px;
}
#u503_img.e {
}
#u503.e {
  left:-1px;
  top:3584px;
}
#u503_text.e {
}
#u503 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u504.e {
  left:20px;
  top:3610px;
}
#u504_img.e {
}
#u504.e {
  left:20px;
  top:3610px;
}
#u504_text.e {
}
#u504 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u505.e {
  left:24px;
  top:3680px;
  width:322px;
  height:187px;
}
#u505_img.e {
  width:322px;
  height:187px;
}
#u505.e {
  left:24px;
  top:3680px;
  width:322px;
  height:187px;
}
#u505_text.e {
}
#u505 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u506.e {
  left:24px;
  top:3889px;
  width:322px;
  height:186px;
}
#u506_img.e {
  width:322px;
  height:186px;
}
#u506.e {
  left:24px;
  top:3889px;
  width:322px;
  height:186px;
}
#u506_text.e {
}
#u506 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u507.e {
  left:24px;
  top:4096px;
  width:322px;
  height:182px;
}
#u507_img.e {
  width:322px;
  height:182px;
}
#u507.e {
  left:24px;
  top:4096px;
  width:322px;
  height:182px;
}
#u507_text.e {
}
#u507 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u508.e {
  left:24px;
  top:4299px;
  width:322px;
  height:178px;
}
#u508_img.e {
  width:322px;
  height:178px;
}
#u508.e {
  left:24px;
  top:4299px;
  width:322px;
  height:178px;
}
#u508_text.e {
}
#u508 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u509.e {
  left:85px;
  top:4477px;
}
#u509_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#B7BABF;
  text-align:center;
}
#u509.e {
  left:85px;
  top:4477px;
}
#u509_text.e {
}
#u509 .text.e {
  align-self:center;
  padding:0px 0px 0px 0px;
}
#u43_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:1640px;
  height:6393px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43_state1.e {
  position:relative;
  left:0px;
  top:0px;
  width:370px;
  height:11236px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u43_state2.e {
  position:relative;
  left:0px;
  top:0px;
  width:370px;
  height:9573px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u43_state3.e {
  position:relative;
  left:0px;
  top:0px;
  width:370px;
  height:4597px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u510.e {
  left:7px;
  top:2240px;
  width:80px;
}
#u510_img.e {
  width:80px;
}
#u510.e {
  left:7px;
  top:2240px;
  width:80px;
}
#u510_img.e.mouseOver {
}
#u510.e.mouseOver {
}
#u510_img.e.selected {
}
#u510.e.selected {
}
#u510_text.e {
}
#u510 .text.e {
  align-self:center;
  padding:2px 0px 2px 0px;
}
#u511.e {
  left:99px;
  top:2240px;
  width:80px;
}
#u511_img.e {
  width:80px;
}
#u511.e {
  left:99px;
  top:2240px;
  width:80px;
}
#u511_img.e.mouseOver {
}
#u511.e.mouseOver {
}
#u511_img.e.selected {
}
#u511.e.selected {
}
#u511_text.e {
}
#u511 .text.e {
  align-self:center;
  padding:2px 0px 2px 0px;
}
#u512.e {
  left:191px;
  top:2240px;
  width:80px;
}
#u512_img.e {
  width:80px;
}
#u512.e {
  left:191px;
  top:2240px;
  width:80px;
}
#u512_img.e.mouseOver {
}
#u512.e.mouseOver {
}
#u512_img.e.selected {
}
#u512.e.selected {
}
#u512_text.e {
}
#u512 .text.e {
  align-self:center;
  padding:2px 0px 2px 0px;
}
#u513.e {
  left:283px;
  top:2240px;
  width:80px;
}
#u513_img.e {
  width:80px;
}
#u513.e {
  left:283px;
  top:2240px;
  width:80px;
}
#u513_img.e.mouseOver {
}
#u513.e.mouseOver {
}
#u513_img.e.selected {
}
#u513.e.selected {
}
#u513_text.e {
}
#u513 .text.e {
  align-self:center;
  padding:2px 0px 2px 0px;
}
#u514.e {
  position:fixed;
  left:50%;
  margin-left:-185px;
  top:0px;
  width:370px;
  height:54px;
  overflow:hidden;
}
#u515.e {
  left:-1315px;
}
#u515_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:54px;
  background:inherit;
  background-color:rgba(247, 252, 255, 0.8);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515.e {
  left:-1315px;
}
#u515_text.e {
}
#u515 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u516.e {
  left:0px;
  width:92px;
}
#u516_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u516.e {
  left:0px;
  width:92px;
}
#u516_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u516.e.mouseOver {
}
#u516_div.selected.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 76, 164, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#7F8693;
}
#u516.e.selected {
}
#u516_text.e {
}
#u516 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u517.e {
  left:93px;
  width:92px;
}
#u517_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u517.e {
  left:93px;
  width:92px;
}
#u517_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u517.e.mouseOver {
}
#u517_div.selected.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 76, 164, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#7F8693;
}
#u517.e.selected {
}
#u517_text.e {
}
#u517 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u518.e {
  left:185px;
  width:92px;
}
#u518_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u518.e {
  left:185px;
  width:92px;
}
#u518_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u518.e.mouseOver {
}
#u518_div.selected.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 76, 164, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#7F8693;
}
#u518.e.selected {
}
#u518_text.e {
}
#u518 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u519.e {
  left:277px;
  width:92px;
}
#u519_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u519.e {
  left:277px;
  width:92px;
}
#u519_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F8693;
}
#u519.e.mouseOver {
}
#u519_div.selected.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 76, 164, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#7F8693;
}
#u519.e.selected {
}
#u519_text.e {
}
#u519 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u514_state0.e {
  width:370px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514_state1.e {
  width:370px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0274509803921569);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0274509803921569);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.0274509803921569);
}
#u520.e {
  left:24px;
  top:2307px;
}
#u520_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520.e {
  left:24px;
  top:2307px;
}
#u520_text.e {
}
#u520 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u522.e {
  left:24px;
  top:526px;
  width:322px;
  height:120px;
}
#u522_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#7F8693;
  line-height:30px;
}
#u522.e {
  left:24px;
  top:526px;
  width:322px;
  height:120px;
}
#u522_text.e {
}
#u522 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u523.e {
  border-width:0px;
  position:absolute;
  left:236px;
  top:620px;
  width:2px;
  height:22px;
}
#u524.e {
}
#u524_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u524.e {
}
#u524_text.e {
}
#u524 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u525.e {
}
#u525_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
  background:inherit;
  background-color:rgba(34, 50, 68, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525.e {
}
#u525_text.e {
}
#u525 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u523_state0.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523_state1.e {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527.e {
  left:150px;
  top:625px;
}
#u527_img.e {
}
#u527.e {
  left:150px;
  top:625px;
}
#u527_text.e {
}
#u527 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u528.e {
  left:188px;
  top:642px;
}
#u528_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#003C5B;
  text-align:center;
}
#u528.e {
  left:188px;
  top:642px;
}
#u528_text.e {
}
#u528 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u530.e {
  left:154px;
  top:625px;
}
#u530_img.e {
}
#u530.e {
  left:154px;
  top:625px;
}
#u530_text.e {
}
#u530 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u531.e {
  left:190px;
  top:642px;
}
#u531_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#003C5B;
  text-align:center;
}
#u531.e {
  left:190px;
  top:642px;
}
#u531_text.e {
}
#u531 .text.e {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u532.e {
  position:absolute;
  left:166px;
  top:693px;
}
#u533.e {
}
#u533_img.e {
}
#u533.e {
}
#u533_text.e {
}
#u533 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u534.e {
}
#u534_img.e {
}
#u534.e {
}
#u534_text.e {
}
#u534 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u535.e {
}
#u535_img.e {
}
#u535.e {
}
#u535_text.e {
}
#u535 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u536.e {
}
#u536_img.e {
}
#u536.e {
}
#u536_text.e {
}
#u536 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u532_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532_state1.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u537.e {
  position:absolute;
  left:231px;
  top:693px;
}
#u538.e {
}
#u538_img.e {
}
#u538.e {
}
#u538_text.e {
}
#u538 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u539.e {
}
#u539_img.e {
}
#u539.e {
}
#u539_text.e {
}
#u539 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u540.e {
}
#u540_img.e {
}
#u540.e {
}
#u540_text.e {
}
#u540 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u541.e {
}
#u541_img.e {
}
#u541.e {
}
#u541_text.e {
}
#u541 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u537_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537_state1.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u542.e {
  position:absolute;
  left:296px;
  top:693px;
}
#u543.e {
}
#u543_img.e {
}
#u543.e {
}
#u543_text.e {
}
#u543 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u544.e {
}
#u544_img.e {
}
#u544.e {
}
#u544_text.e {
}
#u544 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u545.e {
}
#u545_img.e {
}
#u545.e {
}
#u545_text.e {
}
#u545 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u546.e {
}
#u546_img.e {
}
#u546.e {
}
#u546_text.e {
}
#u546 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u542_state0.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u542_state1.e {
  position:relative;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u547.e {
  left:24px;
  top:693px;
  width:128px;
}
#u547_div.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 76, 164, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u547.e {
  left:24px;
  top:693px;
  width:128px;
}
#u547_div.mouseOver.e {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 94, 203, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u547.e.mouseOver {
}
#u547_text.e {
}
#u547 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u549.e {
  left:79px;
  top:474px;
}
#u549_img.e {
}
#u549.e {
  left:79px;
  top:474px;
}
#u549_text.e {
}
#u549 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u550.e {
  left:37px;
  top:1977px;
}
#u550_img.e {
}
#u550.e {
  left:37px;
  top:1977px;
}
#u550_text.e {
}
#u550 .text.e {
  align-self:center;
  padding:2px 2px 2px 2px;
}
